:root {
  --nav-color: #5661F5; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libertinus Math', system-ui;
  max-width: 1600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.head {
  background-color: var(--nav-color);
  
}

.main {

}

.footer {
  background-color: var(--nav-color);
}